<!-- <nav>
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/products">Products</a></li>
    <li>
      <a
        routerLink="/profile"
        [queryParams]="{ name: 'Ben Smith', email: 'ben.smiffy@hotmail.co.uk' }"
        >Profile</a
      >
    </li>
  </ul>
</nav>

<app-home [name]="appName"></app-home> -->
<!-- <app-header></app-header> -->

<!-- Create button to hide and show app-empform in .ts -->
 <app-header></app-header>
 <div class="container mt-3">
  <router-outlet></router-outlet>
 </div>
<!-- <button (click)="toggleEmpForm()">Display Form</button>
<app-empform *ngIf="showEmpForm" (empadded)="newEmpAdded($event)"></app-empform>

<app-employees [newemp]="newemp"></app-employees>
<app-footer></app-footer> -->

<!-- <app-lifecycle></app-lifecycle> -->

<!-- <h1>App Component</h1>
<p>{{service.message}}</p>
<app-service></app-service>

<app-observables></app-observables> -->
